* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --corpo: #F8F8FE;
    --button: #1E3A8A;
    --destacar: #4F46E5;
    --preto: #000000;
    --texto-pequeno: #42445A;
    --branco: #FFFFFF;
    --alerta: #F59E0B;
    --sucesso: #22C55E;
    --erro: #9C1010;
    --letras-sections: #111827;
    --fundo-icone: #F3F4F6;
}